<div class="app-navigation-mobile">
    <ul>
        <li><a href="index.html"><span class="nav-icon-hexa">Hm</span> Home</a></li>
        <li><a href="#"><span class="nav-icon-hexa">Au</span> About Us</a></li>
        <li><a href="#"><span class="nav-icon-hexa">Pf</span> Portfolio</a></li>
        <li><a href="#"><span class="nav-icon-hexa">Ct</span> Contacts</a></li>
        <li><a href="#"><span class="nav-icon-hexa">Sp</span> Support</a></li>
        <li><a href="#"><span class="nav-icon-hexa">Su</span> Sign Up</a></li>
    </ul>
</div>