<!-- START APP SIDEPANEL -->
<div class="app-sidepanel scroll" data-overlay="show">
    <div class="app-heading app-heading-background app-heading-light" style="background: url(assets/images/real-estate/republica.jpg) bottom center no-repeat;">
        <div class="icon icon-lg">
            <span class="icon-map-marker"></span>
        </div>

        <div class="title">
            <h2 class="text-uppercase">República (distrito de São Paulo)</h2>
            <p class="text-uppercase">São Paulo, SP - Brasil</p>
        </div>
    </div>

    <div class="container">
        <div class="tile-basic margin-bottom-0">
            <div class="app-heading title-only">
                <div class="icon">
                    <span class="icon-question-circle"></span>
                </div>
                <div class="title">
                    <h2>Informações</h2>
                </div>
            </div>
            <div class="tile-content text-left padding-20 padding-top-5">
                <p>A República é um distrito situado na região central do município de São Paulo. Forma, juntamente com o distrito da Sé, o chamado Centro Histórico da capital paulista.</p>
                <p>Localizam-se aí alguns dos pontos mais famosos da cidade, como a Praça da República, o Teatro Municipal, a Biblioteca Municipal Mário de Andrade, o Obelisco do Piques, o Palácio dos Correios, as avenidas Ipiranga e São João e o Largo do Arouche.</p>
                <p>É atendido pela Linha 3 (Vermelha) e pela Linha 4 (Amarela) do Metrô de São Paulo.</p>
            </div>
        </div>

        <div class="tile-basic margin-bottom-0">
            <div class="app-heading title-only">
                <div class="icon">
                    <span class="icon-question-circle"></span>
                </div>
                <div class="title">
                    <h2>Demografia</h2>
                </div>
            </div>
            <div class="tile-content text-left padding-20 padding-top-5">
                <div class="list-group">
                    <div class="list-group-item">
                        Área <span class="text-default text-bold pull-right">2,3 km²</span>
                    </div>
                    <div class="list-group-item">
                        População <span class="text-default text-bold pull-right">56.981 hab.</span>
                    </div>
                    <div class="list-group-item">
                        Densidade <span class="text-default text-bold pull-right">186,10 hab/ha</span>
                    </div>
                    <div class="list-group-item">
                        Renda Média <span class="text-default text-bold pull-right">R$ 1.497,41</span>
                    </div>
                    <div class="list-group-item">
                        IDH <span class="text-default text-bold pull-right">0,858 - elevado (44°)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="tile-basic margin-bottom-0">
            <div class="app-heading title-only">
                <div class="icon">
                    <span class="icon-graduation-hat"></span>
                </div>
                <div class="title">
                    <h2>Educação</h2>
                </div>
            </div>
            <div class="tile-content text-left padding-20 padding-top-5">
                <div class="list-group">
                    <div class="list-group-item active">
                        Escolas <span class="badge badge-default">10</span>
                    </div>
                    <div class="list-group-item">
                        Municipais <span class="badge badge-primary">3</span>
                    </div>
                    <div class="list-group-item">
                        Estaduais <span class="badge badge-primary">2</span>
                    </div>
                    <div class="list-group-item">
                        Privadas <span class="badge badge-primary">5</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="tile-basic margin-bottom-0">
            <div class="app-heading title-only">
                <div class="icon">
                    <span class="icon-smile"></span>
                </div>
                <div class="title">
                    <h2>Entretenimento</h2>
                </div>
            </div>
            <div class="tile-content text-left padding-20 padding-top-5">
                <div class="list-group">
                    <div class="list-group-item">
                        Cinemas <span class="badge badge-primary">1</span>
                    </div>
                    <div class="list-group-item">
                        Shoppings <span class="badge badge-primary">2</span>
                    </div>
                    <div class="list-group-item">
                        Restaurantes <span class="badge badge-primary">45</span>
                    </div>
                    <div class="list-group-item">
                        Bares <span class="badge badge-primary">100</span>
                    </div>
                    <div class="list-group-item">
                        Hospitais <span class="badge badge-primary">3</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="tile-basic margin-bottom-0">
            <div class="app-heading title-only">
                <div class="icon">
                    <span class="icon-heart"></span>
                </div>
                <div class="title">
                    <h2>Saúde</h2>
                </div>
            </div>
            <div class="tile-content text-left padding-20 padding-top-5">
                <div class="list-group">
                    <div class="list-group-item">
                        Hospitais <span class="badge badge-primary">1</span>
                    </div>
                    <div class="list-group-item">
                        Postos de Saúdes <span class="badge badge-primary">2</span>
                    </div>
                    <div class="list-group-item">
                        UPAs <span class="badge badge-primary">6</span>
                    </div>
                    <div class="list-group-item">
                        Clínicas <span class="badge badge-primary">5</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END APP SIDEPANEL -->

<!-- APP OVERLAY -->
<div class="app-overlay"></div>
<!-- END APP OVERLAY -->
